.movieWrapper{
  width: 100%;
}
.preSearch{
  font-family: "Segoe Pro Black",sans-serif;
  color: #eac600;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 35%;
}
.movieContent{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

@media (min-width:1025px ) {
  .movieContent{
    margin: 40px 0 0 20px;
  }
}
@media (max-width: 1024px) {
  .movieWrapper{
    height: 100%;
  }
  .movieContent {
    height: unset;
  }
  .preSearch{
    left:15%;
  }
  .movieWrapper{
    height: 50vh;
  }
}
@media (max-width: 768px) {
  .preSearch{
    left:5%;
  }
  .movieWrapper{
    height: 65vh;
  }
}
@media (max-width: 450px) {
  .preSearch{
    left:0;
  }
}
@media (max-width: 375px) {
  .movieWrapper{
    height: 100%;
  }
  .movieContent{
    padding-bottom: 40px;
  }
}