.selectedPageNumber{
  padding: 10px 25px;
  font-weight: bold;
  font-size: 25px;
  color: #eac600;
}
.pageNumber{
  padding: 10px 25px;
  font-size: 25px;
  color: #fff;
}
.paginator {
  font-family: "Segoe Pro Black",sans-serif;
  width: 50%;
  height: 50px;
  margin: 35px auto 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.pageNumber:hover,.pageNumber:focus{
  color: #eac600;
}
.button{
  margin-top:2px ;
  padding: 10px 25px;
  background: none;
  color: white;
  border: none;
  font: inherit;
  font-size: 25px;
  cursor: pointer;
  outline: inherit;
  height: max-content;
}
.button:hover, .button:focus{
  color: #eac600;
}
@media (min-width:1025px ) {
  .paginator{
    position: absolute;
    top: 52px;
    left: 30%;
  }
}
@media (max-width: 768px) {
  .paginator{
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .paginator{
  }
}