body{
  background-color: #222;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}
body::-webkit-scrollbar,.app_wrapper_content::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body::-webkit-scrollbar-thumb,.app_wrapper_content::-webkit-scrollbar-thumb {
  background: transparent;
}

.app_wrapper{
  width: 100%;
  height: 100vh;
  background-image:
          linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
          url("./assets/images/architecture-building-evening-3004075.jpg");
  display: grid;
  grid-template-areas: "h h" "s c" "s c";
  grid-template-rows: 60px 31px 1fr;
  grid-template-columns: 1fr 10fr;
  grid-gap: 11px 20px;
  background-size: 100% 100%
}
.app_wrapper_content{
  box-sizing: border-box;
  margin-top: 20px;
  grid-area: c;
  width: 100%;
  overflow-y: scroll;
}
.preloader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media (max-width: 1024px) {
  body{
    overflow-y: hidden;
  }
  .app_wrapper_content {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90vh;
  }
  .app_wrapper{
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: auto;
  }
}

